.headerTwo {
    margin-top: 5.81rem;
    margin-bottom: 5.81rem;
}

h2 {
    text-align: center;
    font-size: 1.75rem;
    color: white;
  }

  @media screen and (max-width: 768px) {


    .headerTwo {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }


h2 {
    font-size: 0.8rem;
    font-weight: 900;
}


  }