.gallery {
    margin-top: -5rem;
}

.galleryContainer{
    padding: 4.68rem 0;
    margin: 0 auto;
    width: 100%;
  }
  
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }

  blockquote p {
    display: none;
    text-align: center;
    background: linear-gradient(var(--calorieRocketPurple), var(--calorieRocketRed));
    box-shadow: 5px 5px 13px 5px #A560E8;
    opacity: 90%;
}
  
  .item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
    position: relative;
  }
  
  .item:hover{
    flex: 7;
  }

  .item:hover .standaloneName {
    display: none;
  }

  .item:hover blockquote {
    align-self: flex-end;
    

  }

  .item:hover p {
      display: block;
      opacity: 0.0;
      animation: fadeIn ease 3s;
      animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
  

  .item .standaloneName {
    display: block;
    text-align: center;
      background: linear-gradient(var(--calorieRocketPurple), var(--calorieRocketRed));
      box-shadow: 5px 5px 13px 5px #A560E8;
      opacity: 90%;
      position: relative;
      top: 1rem;
    
  }
  
  .item-1 { 
    background-image: url(../img/alexander-mils-hJD5eoTfAoA-unsplash.jpg);
  }
  
  .item-2 { 
    background-image: url(../img/masimo-grabar-NzHRSLhc6Cs-unsplash.jpg);
  }
  
  .item-3 { 
    background-image: url(../img/iman-zaker-Et1rVF1YJe8-unsplash.jpg);
  }
  
  .item-4 { 
    background-image: url(../img/karolina-kolodziejczak-Mzh95zPmOIM-unsplash.jpg);
  }
  
  .item-5 { 
    background-image: url(../img/jo-sonn-M-tzZD5z720-unsplash.jpg);
  }


  blockquote {
    width: 70%;
    height: 1.1875rem;
    border: 0.1rem solid var(--border-gray);
    border-radius: 1%;
    line-height: 2.3rem;
  }

  @media screen and (max-width: 768px) {

    .gallery-wrap {
      flex-direction: column;
    }

    .item .standaloneName {
      top: unset;
      bottom: 1rem;
    }

    .item:hover p {
      position: absolute;
      bottom: 2rem;
      left: 0.5rem;
      right: 0.5rem;
  }

  }

